<link rel="stylesheet" href="code-buddys.css" />

<section class="code-buddys">
  <ul class="code-buddys__list">
    <li class="code-buddys__list__item">
      <img
        src="../material/Plus.svg"
        alt=""
        width="20.33"
        height="20.33"
        class="code-buddys__list__icon"
      />Eileen
    </li>
    <li class="code-buddys__list__item">Paula</li>
  </ul>

  <ul class="code-buddys__list">
    <li class="code-buddys__list__item">
      <img
        src="../material/Plus.svg"
        alt=""
        width="20.33"
        height="20.33"
        class="code-buddys__list__icon"
      />Eileen
    </li>
    <li class="code-buddys_list__item">Paula</li>
  </ul>
  <ul class="code-buddys__list">
    <li class="code-buddys__list__item">
      <img
        src="../material/Plus.svg"
        alt=""
        width="20.33"
        height="20.33"
        class="code-buddys__list__icon"
      />Eileen
    </li>
    <li class="code-buddys__list__item">Paula</li>
  </ul>
</section>
