.code-buddys__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto 20px auto;
  border: 1px solid var(--color-light-blue);
  border-radius: 6px;
}

.code-buddys__list__item {
  text-align: center;
  border-bottom: 1px solid var(--color-light-blue);
  padding: 18px 79.5px;
  line-height: 1;
  color: var(--color-blue);
  position: relative;
}
<<<<<<< HEAD
.code-buddys__list__icon {
=======

.code-buddys-container__icon {
>>>>>>> main
  background-color: transparent;
  border: none;
  position: absolute;
  top: 100%;
  right: 44%;
  transform: translate(-50%, -50%);
}
