* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 3.5fr;
  grid-template-rows: 3.5fr 0.5fr;
  gap: 20px 20px;
  grid-template-areas:
    '. .'
    '. .';
  height: 208px;
  width: 315px;
}

.y-values {
  background: hotpink;
  padding: 0;
}

.y-values__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.y-values__item {
  text-decoration: none;
}

.x-values {
  grid-column-start: 2;
  background: salmon;
  height: 20px;
}

.x-values__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.x-values__item {
  text-decoration: none;
}

.chart-container {
  background: cornflowerblue;
  width: 260px;
}

.energy-chart {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

/* .energy-chart__bar-label {
  float: left;
  width: 60px;
  text-align: center;
  position: relative;
} */

.energy-chart__bar-container {
  display: flex;
  align-items: flex-end;
  background: orange;
  width: 24px;
  height: 200px;
}

.energy-chart__bar {
  width: 12px;
  border-radius: 8px 8px 0 0;
  color: #ffffff;
  text-align: center;
}

.energy-chart__bar--you {
  float: left;
  background: #ff5a36;
}
.energy-chart__bar--other {
  float: right;
  background: #193251;
}
