<!-- <div class="grid-container">
  <div class="y-values"></div>
  <div class="chart-container"></div>
  <div class="empty"></div>
  <div class="x-values"></div>
</div> -->

<!-- <dl>
  <dt>A title of the graph</dt>
  <dd class="percentage percentage-20">
    <span class="text"> Data 1: 20% </span>
  </dd>
  <dd class="percentage percentage-30">
    <span class="text"> Data 2: 50% </span>
  </dd>
  <dd class="percentage percentage-20">
    <span class="text"> Data 3: 30% </span>
  </dd>
</dl> -->

<!-- <div class="box">
  <div class="graph">
    <div class="m"></div>
    <div class="tu"></div>
    <div class="w"></div>
    <div class="tr"></div>
    <div class="f"></div>
    <div class="sa"></div>
    <div class="su"></div>
  </div>
</div> -->

<dl class="energy-chart">
  <dt class="energy-chart__bar-label">12:00</dt>
  <dd class="energy-chart__bar-container">
    <span class="energy-chart__bar energy-chart__bar--you" style="height: 100%"
      >$ 2.740 Mio.</span
    >
    <span class="energy-chart__bar energy-chart__bar--other" style="height: 60%"
      >$ 3.5 Mio.</span
    >
  </dd>
  <dt class="energy-chart__bar-label">13:00</dt>
  <dd class="energy-chart__bar-container">
    <span class="energy-chart__bar energy-chart__bar--you" style="height: 20%"
      >$ 2.740 Mio.</span
    >
    <span class="energy-chart__bar energy-chart__bar--other" style="height: 40%"
      >$ 3.5 Mio.</span
    >
  </dd>
  <dt class="energy-chart__bar-label">14:00</dt>
  <dd class="energy-chart__bar-container">
    <span class="energy-chart__bar energy-chart__bar--you" style="height: 80%"
      >$ 2.740 Mio.</span
    >
    <span class="energy-chart__bar energy-chart__bar--other" style="height: 30%"
      >$ 3.5 Mio.</span
    >
  </dd>
  <dt class="energy-chart__bar-label">15:00</dt>
  <dd class="energy-chart__bar-container">
    <span class="energy-chart__bar energy-chart__bar--you" style="height: 60%"
      >$ 2.740 Mio.</span
    >
    <span class="energy-chart__bar energy-chart__bar--other" style="height: 40%"
      >$ 3.5 Mio.</span
    >
  </dd>
</dl>
