.energy-labels {
  display: grid;
  grid-template-columns: 1fr;
}

.chart__label {
  list-style-type: none;
  display: flex;
  float: right;
  margin: 0;
  padding: 0;
  justify-self: right;
}
.label__item {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.label__item:not(:last-child) {
  content: '';
  margin-right: 10px;
}

.label__item--blue {
  background: var(--color-dark-blue);
  color: var(--color-white);
  padding: 0 8.5px 2px 8.5px;
}
.label__item--orange {
  background: var(--color-lighter-orange);
  color: var(--color-dark-orange);
  padding: 0 9.5px 2px 9.5px;
}
