<section class="energy-level">
  <h3>Energy Level throughout the day</h3>
  <div class="chart-container">
    <div class="chart-values__y">
      <ul class="chart-values__y-list">
        <li class="chart-values__item chart-values__item--x">100</li>
        <li class="chart-values__item chart-values__item--x">75</li>
        <li class="chart-values__item chart-values__item--x">50</li>
        <li class="chart-values__item chart-values__item--x">25</li>
        <li class="chart-values__item chart-values__item--x">0</li>
      </ul>
    </div>
    <div class="bar-container">
      <ul class="energy-chart">
        <li class="energy-chart__bar-container">
          <span
            class="energy-chart__bar energy-chart__bar--you"
            style="height: 85%"
          ></span>
          <span
            class="energy-chart__bar energy-chart__bar--other"
            style="height: 60%"
          ></span>
        </li>
        <li class="energy-chart__bar-container">
          <span
            class="energy-chart__bar energy-chart__bar--you"
            style="height: 20%"
          ></span>
          <span
            class="energy-chart__bar energy-chart__bar--other"
            style="height: 40%"
          ></span>
        </li>
        <li class="energy-chart__bar-container">
          <span
            class="energy-chart__bar energy-chart__bar--you"
            style="height: 80%"
          ></span>
          <span
            class="energy-chart__bar energy-chart__bar--other"
            style="height: 30%"
          ></span>
        </li>
        <li class="energy-chart__bar-container">
          <span
            class="energy-chart__bar energy-chart__bar--you"
            style="height: 60%"
          ></span>
          <span
            class="energy-chart__bar energy-chart__bar--other"
            style="height: 40%"
          ></span>
        </li>
        <li class="energy-chart__bar-container">
          <span
            class="energy-chart__bar energy-chart__bar--you"
            style="height: 60%"
          ></span>
          <span
            class="energy-chart__bar energy-chart__bar--other"
            style="height: 40%"
          ></span>
        </li>
      </ul>
    </div>
    <div class="chart-values__x">
      <ul class="chart-values__x-list">
        <li class="chart-values__item chart-values__item--x">10:00</li>
        <li class="chart-values__item chart-values__item--x">15:30</li>
        <li class="chart-values__item chart-values__item--x">16:15</li>
        <li class="chart-values__item chart-values__item--x">18:25</li>
        <li class="chart-values__item chart-values__item--x">19:00</li>
      </ul>
    </div>
  </div>
</section>
