.headerbig {
  text-align: center;
  background-color: #f8f8f8;
  z-index: 2;
  position: fixed;
  width: 100%;
}

.headerbig:after {
  content: url(../material/background_shape_1.svg);
  position: absolute;
  left: 0%;
  bottom: -50%;
  z-index: -1;
  width: 100%;
}

.headerbig__title {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  color: var(--color-dark-blue);
  text-transform: uppercase;
  padding: 20px 0 0 0;
  margin: 0;
  line-height: 0.9;
  text-align: center;
}

.headerbig__subtitle {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 12px;
  color: var(--color-blue);
  margin: 0;
  padding: 0;
  line-height: 0;
}
