* {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  background-color: #f8f8f8;
  xbackground-color: red;
  position: relative;
  xbackground: url(../material/background_shape_1.svg);
  z-index: 2;
}

.header__wave {
  background-image: url(../material/background_shape_1.svg);
  position: absolute;
  height: 59px;
  width: 100%;
  z-index: -1;
  top: 7%;
  left: 0%;
}

/*

.header:after {
  content: url(../material/background_shape_1.svg);
  position: absolute;
  left: 0%;
  z-index: -1;
  top: 35%;
}


.header__placeholder {
  color: black;
  background-size: cover;
  background-image: url(../material/background_shape_1.svg);
  
}


.header__placeholder:after {
  content: url(../material/background_shape_1.svg);
  xposition: absolute;
  bottom: -20px;

}
*/

.header__title {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  color: var(--color-dark-blue);
  text-transform: uppercase;
  padding: 20px 0 0 0;
  margin: 0;
  line-height: 0.9;
}

.header__subtitle {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 12px;
  color: var(--color-blue);
  margin: 0;
  padding: 0;
  line-height: 0;
}
