<style>
  h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--color-dark-blue);
    margin: 0;
  }

  h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-dark-blue);
    margin: 0;
  }
</style>

<main class="app-grid__content">
  <h4>Today, 12.07.2020</h4>
  <h5>Rating:</h5>
  <section class="journal__rating">
    <input class="journal__rating__item" type="checkbox" id="star1" />
    <label class="journal__rating__label" for="star1"></label>
    <input type="checkbox" id="star1" />
    <label for="star1"></label>
    <input type="checkbox" id="star1" />
    <label for="star1"></label>
    <input type="checkbox" id="star1" />
    <label for="star1"></label>
    <input type="checkbox" id="star1" />
    <label for="star1"></label>
  </section>
  <h5>Comprehension:</h5>
  <section class="journal__comprehension">
    <input class="journal__comprehension__check" type="checkbox" />
    <input class="journal__comprehension__check" type="checkbox" />
    <input class="journal__comprehension__check" type="checkbox" />
    <input class="journal__comprehension__check" type="checkbox" />
    <input class="journal__comprehension__check" type="checkbox" />
    <input class="journal__comprehension__check" type="checkbox" />
    <input class="journal__comprehension__check" type="checkbox" />
    <input class="journal__comprehension__check" type="checkbox" />
    <input class="journal__comprehension__check" type="checkbox" />
    <input class="journal__comprehension__check" type="checkbox" />
  </section>
  <section class="journal__motto-notes">
    <label for="motto"><h5>Motto:</h5></label>
    <input
      class="journal__motto__input"
      id="motto"
      type="text"
      required
      width="100"
    />
    <label for="notes"><h5>Notes:</h5></label>
    <textarea
      class="journal__motto__textarea"
      name=""
      id="notes"
      cols="30"
      rows="10"
    ></textarea>
  </section>
  <section class="journal__buttons">
    <button class="journal__buttons__cancel">Cancel</button>
    <button class="journal__buttons__save">
      Save
      <img
        src="../material/check-solid.svg"
        alt=""
        width="14.63"
        height="11.2"
      />
    </button>
  </section>
</main>
