.journal__comprehension,
.journal__rating {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.journal__rating__items {
  margin: 0;
  padding: 0;
}

.journal__motto__input {
  width: 100%;
  height: 62px;
  border: 1px solid var(--color-light-blue);
  border-radius: 4px;
  padding: 19px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.journal__motto__textarea {
  width: 100%;
  height: 124px;
  border: 1px solid var(--color-light-blue);
  border-radius: 4px;
  resize: none;
  padding: 19px 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.journal__buttons {
  display: flex;
  margin-top: 20px;
}

.journal__buttons__cancel {
  width: 152px;
  height: 48px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: var(--color-dark-blue);
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.journal__buttons__save {
  width: 152px;
  height: 48px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: var(--color-white);
  background-color: var(--color-dark-orange);
  border: none;
  border-radius: 5px;
}
