.journal__comprehension__check {
  appearance: none;
  border: 1px solid var(--color-blue);
  border-radius: 4.8px;
  width: 26px;
  height: 26px;
  margin: 0;
}
.journal__comprehension__check:checked {
  appearance: none;
  border: 1px solid var(--color-dark-blue);
  background-color: var(--color-dark-blue);
  border-radius: 4.8px;
  width: 26px;
  height: 26px;
  margin: 0;
}
