.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 335px;
  height: 44px;
  border-radius: 10px;
  box-shadow: 0 2px 11px 0 rgba(25, 50, 81, 0.2);
  mix-blend-mode: darken;
  position: fixed;
  bottom: 0;
  margin: 20px;
  z-index: 5;
  background-color: var(--color-white);
}

.navigation__item {
  display: grid;
  place-items: center;
}
