.teams-container__heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.143;
  color: var(--color-dark-blue);
}

.teams-container__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
  border: 1px solid var(--color-light-blue);
  border-radius: 6px;
}

.teams-container__item {
  text-align: center;
  border-bottom: 1px solid var(--color-light-blue);
  padding: 18px 79.5px;
  line-height: 1;
  color: var(--color-blue);
}
