.app-grid {
  background-color: var(--color-white);
  display: grid;
  grid-template-rows: 81px auto 58px;
  height: 100vh;
  margin: 0 auto;
}

.app-grid__content {
  background-color: var(--color-white);
  overflow-y: scroll;
  height: 100vh; /* 100% */
  padding: 50px 20px 20px 20px;
}
