.app-grid {
  background-color: var(--color-white);
  display: grid;
  grid-template-rows: 81px auto 58px;
  height: 100vh;
  margin: 0 auto;
}

.app-grid__content {
  background-color: var(--color-white);
  overflow-y: scroll;
  height: 100vh; /* 100% */
  padding: 89px 30px 20px 30px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.app-grid__content:-webkit-scrollbar {
  display: none;
}

.app-grid__content > *:last-child::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 84px;
}

.app-grid__content > *:last-child {
  position: relative;
}
