* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; /* 112.5% */
  line-height: 20px; /* 1.5 */
  color: var(--color-dark-blue);
  max-width: 375px;
  margin: 0 auto;
}

input,
button {
  font-size: 1em;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: var(--color-dark-blue);
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: var(--color-blue);
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.286;
  color: var(--color-dark-blue);
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--color-dark-blue);
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.333;
  color: var(--color-blue);
}

h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-blue);
  margin: 20px 0 0 0;
}
