:root {
  --color-white: #fff;
  --color-dark-blue: #193251;
  --color-blue: #7589a2;
  --color-light-blue: #e0e4e8;
  --color-lighter-blue: #f8f8f8;
  --color-dark-orange: #ff5a36;
  --color-orange: #ff9c86;
  --color-light-orange: #ffbdaf;
  --color-lighter-orange: #ffded7;
}
